$primary-color: rgb(84, 97, 97);
$secondary-color: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
$name-color: rgb(255, 255, 255);
$text-shadow: 3px 5px 2px #474747;