/* The body color */
$primary-color: rgb(84, 97, 97);
$secondary-shadow-color: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

/* Result file */
$color_1: #ffffff;
$color_2: #333;